<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="icon" href="http://example.com/favicon.png" type= "image" https://photos.gograph.com/thumbs/CSP/CSP993/hanger-in-black-and-white-vector-stock_k15265038.jpg/> 
  </head>
  <body>
    
    <br>
    <br>
    <br>
   <h1 class="KWK">Travel From Home</h1> 
    <h3 class="Kore"></h3>
    <br>
  <br>
  <form method=POST class="questions" action="new_recipes">
    <br>
     <p class= "title"> What type of cuisine do you want? </p>
     <input type="radio" name="cuisine" value="chinese"> Chinese<br>
     <input type="radio" name="cuisine" value="indian"> Indian<br>
     <input type="radio" name="cuisine" value="mediterranean"> Mediterranean<br>
     <input type="radio" name="cuisine" value="italian"> Italian<br>
     <br>
     <p class= "title"> What level of culinary difficulty do you feel comfortable with?</p>
     <input type="radio" name="level" value="easy"> Easy<br>
     <input type="radio" name="level" value="medium"> Medium<br>
     <input type="radio" name="level" value="hard"> Hard<br>
     <br>


   <!--<button type="button">Get your outifts!!</button>-->
   
   <input type="submit" value ="Get your recipes!!">
     
     
     
     
   </form>
  <br>
    <div class="slogan"></div>
    <br>
    <br>
  </body>
  <style>
    .KWK {
      text-align: center;
      color: pink;
      font-family: impact;
      background-color: white;
      border-color: grey;
      margin: auto;
      width: 54%;
      font-size: 400%;
      border-radius: 10px 100px / 120px;
      
    }
    .Kore {
      text-align: center;
      font-size: 156%;
      font-family: courier;
      color: white;
    
    }
    body {
      background-color: lightblue;
  border-style: dotted;
  border-width: 15px;
  border-color: white;
  position: relative;

    }
    .slogan {
      text-align: center;
      color: white;
      font-size: 120%;
      font-weight: bold;
      font-family: parkavenue;
    }
    .about {
      font-weight: bold;
      color: grey;
      font-size: 200%;
      font-family: Palatino;
    
    }
    .description {
      font-family: Palatino;
      color: grey;
font-weight: bold;
    font-size: 130%;
     width:85%; 

    }
    .title {
      font-weight: bold;
      font-family: parkavenue;
      font-size: 150%;
      text-align: center;
      color: grey;
      
    }
    .questions { text-align: center;
    font-family: parkavenue;
    font-size: 140%;
    color: white;
      }
  </style>
  
</html>



<!--<!DOCTYPE html>-->
<!--<html>-->

<!--    <head>-->
<!--        <meta http-equiv="content-type" content="text/html; charset=utf-8" />-->
<!--        <title>Empty Project</title>-->
<!--        <script src="code.js" type="text/javascript" charset="utf-8"></script>-->
<!--        <link href="style.css" rel="stylesheet" type="text/css">-->
<!--         <h1> Travel From Home </h1>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h2> Quiz </h2>-->
<!--        <form method="post" class="questions"> -->
<!--        <p>What type of cuisine would you like to see?</p>-->
<!--        <input type="radio" id="mc1" name="question1" value="Italian">Italian-->
<!--        <br>-->
<!--        <input type="radio" id="mc2" name="question2" value="Indian">Indian-->
<!--        <br>-->
<!--        <input type="radio" id="mc4" name="question5" value="Chinese">Chinese-->
<!--        <br>-->
<!--        <input type="radio" id="mc5" name="question6" value="Mediterranean">Mediterranean-->
<!--        <br>-->
<!--        <div>-->
<!--        </div>-->
<!--        <p>What level of culinary difficulty are you comfortable with?</p>-->
<!--        <input type="radio" id="mc6" name="question7" value="Easy">Easy-->
<!--        <br>-->
<!--        <input type="radio" id="mc7" name="question8" value="Medium">Medium-->
<!--        <br>-->
<!--        <input type="radio" id="mc8" name="question9" value="Hard">Hard-->
<!--        <br>-->
  
<!--            <input type="submit" value="Click here for your results" href="results.erb">-->
<!--        </form>-->
<!--    </body>-->
<!--</html>-->
